{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "debug": {
      "sourceMap": "inline",
      "retainLines": true
    }
  },
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-node-env-inline",
    "transform-inline-environment-variables",
    "inline-package-json"
  ]
}
